<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='analyze.css') }}" rel="stylesheet">
    <title>Crypto Hindsight</title>
</head>
<body class="container full-height-grow">
    <div class="bg"></div>
    <header class="main-header">
        <a href="/" class="brand-logo">
            <img src="{{ url_for('static', filename='LogoAndText.png') }}">
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="/analyze" class="current">Analyze</a></li>
                <li><a href="/compare" >Compare</a></li>
                <li><a href="/volume" >Volume</a></li>
                <li><a href="/market" >Market</a></li>
                <li><a href="/portfolio" >Portfolio</a></li>
            </ul>
        </nav>
    </header>
    <h2 class="query-title">Query 1: Percent Change in Crypto Price Over Time</h2>
    <section class="analyze-main-section">
       <form action = "http://localhost:5000/analyze" method = "POST" class="chart-box">
           <div class="exchange-section">
               <label>Exchange: </label>
               <select class="drop-down" name="exchange-data">
                   <option value="1">Gemini</option>
                   <option value="2">Bitstamp</option>
               </select>
           </div>
           <div class="top-section">
               <div>
                    <label>Crypto:</label>
                    <select class="drop-down" name="crypto-data">
                        <option value="1">BTC/USD</option>
                        <option value="2">ETH/USD</option>
                    </select>
               </div>
                <div>
                    <label>Start time:</label>
                    <input type="datetime-local" name="start-data"></input>
                </div>
                <div class="time-button">
                    <label>End time: </label>
                    <input type="datetime-local" name="end-data"></input>
                </div>
               
           </div>
            <canvas id="canvas" style="background-color: #141F288f"></canvas>
           <div class="bottom-section">      
               <input type="submit" class="submit-form" value="Update Chart"></input>
           </div>
        </form>
    </section>
    <!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script type="text/javascript">
        var rangemax = 10
        var rangemin = 0
        const labels = [1,2]
        var valueJSON = {{value|tojson}}
        console.log(valueJSON)
        var cryptoName = "Test";

        var minTime = valueJSON[2]
        var maxTime = valueJSON[3]
        if(valueJSON[1] == 1) cryptoName = "Bitcoin (BTC)"
        else cryptoName = "Ethereum (ETH)"

        const config = {
            type: 'line',
            data: {
                //labels: labels,
                datasets: [
                    {
                    label: cryptoName,
                    fontColor: 'rgb(255,255,255)',
                    backgroundColor: '#FAFC6B',
                    borderColor: '#FAFC6B',
                    data: [
                    ],
                    fill: false,
                    }
                ],
            },
            options: {
                legend: {
                    labels: {
                        fontColor: 'rgb(255,255,255)',
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: cryptoName + ' from ' + valueJSON[2] + ' to ' + valueJSON[3],
                    fontColor: 'rgb(255,255,255)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    color: 'rgb(0,0,0)',
                    xAxes: [{
                        display: true,
                        type: 'time',
                        time: {
                            unit: 'month',
                            min: minTime,
                            max: maxTime
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time',

                            fontColor: 'rgb(255,255,255)'
                        },
                        gridLines: {
                            color: 'rgb(255,255,255)'
                        },
                        ticks: {
                            fontColor: 'rgb(255,255,255)'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value',

                            fontColor: 'rgb(255,255,255)'
                        },
                        gridLines: {
                            color: 'rgb(255,255,255)'
                        },
                        ticks: {
                            fontColor: 'rgb(255,255,255)'
                        }
                    }]
                }
            }
        };
        
        

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);
        lineChart.update();
        const source = new EventSource("/chart-data");
        function addData(chart, data) {

            
            chart.config.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }
        function removeData(chart) {
            chart.config.data.datasets.forEach((dataset) => {

                dataset.data.pop();
                
            });
            chart.update();
        }

        removeData(lineChart);
        for(let i = 0;i<valueJSON[4].length; i++)
        {
            addData(lineChart, {x: valueJSON[4][i], y: valueJSON[5][i]}) 
        }
        console.log(lineChart.data.datasets[0])



</script>
</body>
</html>